<body class="min-width: 200px">
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">News sites are cloned daily for your comfort, and whenever something relevant happens in less than 1 day period, we update manually. If you have a website that you would like to see here, please <a href="https://github.com/NULLBYTE-RGH/Arquitetura-de-Sistemas-Computacionais">contact us.</a></p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://twitter.com/Vlad_T74" class="text-white">Follow on Twitter</a></li>
                <li><a href="https://github.com/NULLBYTE-RGH/Arquitetura-de-Sistemas-Computacionais" class="text-white">Follow on github</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <div class="navbar-brand d-flex align-items-center">
            <img src="https://cdn-icons-png.flaticon.com/512/3418/3418738.png" width="70" height="70" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
            <strong>
                <div class = "text-center" style="font-size: 30px; margin:auto; margin-left: 20vw; position:relative; min-width: 200px;"> Nova Gas</div>
        </strong>
        </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Top sites</h1>
          <p class="lead text-muted">They are the world's leading news sites</p>
        </div>
      </section>

      <div class="album py-5 bg-light ">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://seeklogo.com/images/C/CNN_International-logo-32A54E6066-seeklogo.com.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text textoGrande">
                    CNN is an American pay-TV news channel owned by Warner Bros. Discovery. CNN was founded in 1980 by media owner Ted Turner as a 24-hour news channel. <br>- Wikipédia</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary disabled" data-toggle="tooltip" data-placement="">View</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Russia-today-logo.svg/300px-Russia-today-logo.svg.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text textoGrande">
                      RT (formerly Russia Today) is an international television network founded in Russia and financed by the Russian state. The English-language version of the channel, focused on global broadcasts, opened on December 10, 2005. Based in Moscow, it broadcasts 24 hours a day of news bulletins, documentaries, debates and talk shows, as well as sports, news and cultural programs about Russia aimed at the overseas news market. <br>- Wikipédia</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <form routerLink="/rt">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                        </form>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://seeklogo.com/images/B/bbc-news-logo-E3DECDA65A-seeklogo.com.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text textoGrande">
                    BBC News is the department within the British Broadcasting Corporation responsible for the corporation's journalism and news area, and for the production of its news programmes, both for television, radio and the internet. <br>- Wikipédia</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary disabled" data-toggle="tooltip" data-placement="">View</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Google_news_logo.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text textoGrande">
                    Google News is a news aggregator and application developed by Google. It features a continuous, customizable stream of articles curated from thousands of publishers and journals. Google News is available on Android, iOS and the web <br> - Wikipédia</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary disabled" data-toggle="tooltip" data-placement="">View</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://cdn.applatest.com/photos/apps/60212.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text textoGrande">
                    Sky News Arabia is a 24-hour Arabic news channel broadcast primarily in the Middle East and North Africa. It is a joint venture between Sky Group UK and Abu Dhabi Media Investment Corporation, owned by Mansour bin Zayed Al Nahyan, a member of the ruling family of the Emirate of Abu Dhabi. <br> - Wikipédia</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary disabled" data-toggle="tooltip" data-placement="">View</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Africanews._alternative_logo_2016.png?20160518012318" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text textoGrande">
                    Africanews is a French multilingual news media service, formerly based in Pointe-Noire, Republic of Congo. Budgetary concerns caused by the coronavirus forced the channel to permanently relocate operations to a small newsroom at sister channel Euronews' headquarters in Lyon, France.<br> - Wikipédia</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary disabled" data-toggle="tooltip" data-placement="">View</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Kyiv_Post_logo.svg/512px-Kyiv_Post_logo.svg.png?20190227124149" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text textoGrande">
                    The Kyiv Post is the oldest English-language newspaper in Ukraine, founded in October 1995 by Jed Sunden.<br>- Wikipédia</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary disabled" data-toggle="tooltip" data-placement="">View</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://mumbrella.com.au/wp-content/uploads/2019/12/logo-1-e1575237375112-768x432.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text textoGrande">
                    The Guardian is an independent British national daily newspaper, known until 1959 as the Manchester Guardian. Along with its sister newspapers, The Guardian Weekly and The Observer, the Guardian is part of the Guardian Media Group, owned by The Scott Trust Limited.<br>- Wikipédia</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <form routerLink="/guardian">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </form>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://www.israelhayom.com/wp-content/uploads/2019/04/logo-1.png" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text textoGrande">
                    Israel Hayom is an Israeli national free Hebrew daily newspaper, first published in 2007. It has the largest daily circulation in the country.<br>- Wikipédia</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <form routerLink="/israel">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      </form>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float">
        </p>
      </div>
    </footer>
</body>